<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<!-- *********************  Module Extension  ******************** --> 

<extension
        point="dreisoft.tresos.comimporter.hooks.api.plugin.pretransformhook">
     <importhook
           id="plugin.sqlscript.importhook.UpdateUnusedBitPattern"
           name="SetUnusedBitPatternofISignalPdusTo0xff">
        <class
              class="dreisoft.tresos.comimporter.hooks.api.SQLComImporterHook"
              plugin="dreisoft.tresos.comimporter.hooks.api.plugin">
           <parameter
                 name="scriptdir"
                 value="sql">
           </parameter>
        </class>
     </importhook>
  </extension>  
</plugin>
