# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
Architectures/Application/Description/eCS_SW_Arhitecture.eapx filter=lfs diff=lfs merge=lfs -text
Components/Application/Autoliv/eCS/Design/MBD/ECE_Low_45_full.xlsx filter=lfs diff=lfs merge=lfs -text
Components/Application/Autoliv/eCS/Design/MBD/eCS_ECE_stufentest_90_NewParam.xlsx filter=lfs diff=lfs merge=lfs -text


"Scripts/Configuration_Management/Detailed_Design_Generator/Executables/Detail_Design_Generator.exe" filter=lfs diff=lfs merge=lfs -text
"Tools/CANoe/Config/ECS_AUDI_VERIF/Includes/HW_Modules/SPI_Simulyzer/01_Installation_folder/SPI-SimulyzerSetup_V1_21_1_preRelease_V2.msi" filter=lfs diff=lfs merge=lfs -text
"Tools/EB_BSW_8.8.7/Workspace/jre_x86_64/win32/lib/rt.jar" filter=lfs diff=lfs merge=lfs -text
"Tools/EB_BSW_8.8.7/Workspace/plugins/McalExt_TS_T40DxM1I0R0/MCAL_Delivery/SW32K1_RTD_4.4_1.0.1_HF01_DS_updatesite_D2209.zip" filter=lfs diff=lfs merge=lfs -text
"Tools/Gliwa/Installation/T1-Setup_v3.5.4.exe" filter=lfs diff=lfs merge=lfs -text

